<ion-header>
  <ion-toolbar>
    <ion-title>
      Hello World!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      Recent Conversations
    </ion-list-header>

    <ion-item *ngFor="let character of characters index as id" [routerLink]="['/detail', id]">
      <ion-avatar slot="start">
        <img [src]="character.img">
      </ion-avatar>
      <ion-label>
        <h2>{{ character.name }}</h2>
        <h3>{{ character.description }}</h3>
        <p>{{ character.quote }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>